# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode/ directory contains launch.json, which defines how a project
# can be launched. It is often useful to share this file with other developers
# of a project, so it is not ignored by default.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Dotnet / Visual Studio related
**/bin/
**/obj/
**/out/
*.user
*.sln.docstates
.vs/
UserSecretsId
[Bb]in/
[Oo]bj/

# Android related
**/android/**/generated/
**/android/app/src/main/res/values/strings.xml
**/android/local.properties
**/android/key.properties
**/android/gradle/wrapper/gradle-wrapper.properties
**/android/.gradle/
**/android/captures/
**/android/*.iml
**/android/local.properties
**/android/.externalNativeBuild
**/android/.cxx
**/android/*.keystore
!**/android/app/src/main/res/values/strings.xml

# Executables
*.exe
*.dll
*.pdb
*.app
*.ipa

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS related
Thumbs.db
ehthumbs.db
Desktop.ini
